<div id="hotsite-ajax-box-wrap">
    <div class="headerbox">
        <div class="title">Configurações do Seu Site</div>
        <div class="info">As configurações básicas do seu site estão apresentadas abaixo, faça as modificações alterando o formulário.</div>
    </div>
    <div id="hotsite-config-form">
        <div class="item" ref="background-color">
            <div class="label">Cor de Fundo</div>
            <div class="info">Selecione abaixo a cor de fundo do seu website.</div>
            <div class="value color-value" var="background_color"></div>
        </div>
        <div class="item" ref="background-image">
            <div class="label">Imagem de Fundo</div>
            <div class="info">Selecione uma imagem de fundo para o seu website, escolha também se a imagem se repetirá ou será estática.</div>
            <div class="inputs">
                <div><input type="file" name="background-image-file" /></div>
                <div class="input"><input type="checkbox" name="background-image-repeat" /><label for="background-image-repeat">Repetir Imagem</label></div>
                <div class="value image-value"></div>
            </div>
        </div>
        <div class="item" ref="text-color">            
            <div class="label">Cor do Texto</div>
            <div class="info">Selecione abaixo a cor padrão do texto no seu site.</div>
            <div class="value color-value" var="text_color"></div>
        </div>        
        <div class="item" ref="title-color">            
            <div class="label">Cor do Título</div>
            <div class="info">Selecione abaixo a cor padrão dos títulos no seu site.</div>
            <div class="value color-value" var="title_color"></div>
        </div>
        <input id="hotsite-config-form-submit" type="button" value="Alterar" />
        <input class="hotsite-config-button ajax-close-box" type="button" value="Fechar" />
    </div>
</div>