<div id="hotsite-ajax-box-wrap">
    <div class="headerbox">
        <div class="title">Editar Bloco</div>
        <div class="info">Realize as edições no formulário abaixo ou remova o bloco.</div>
    </div>
    <div id="hotsite-blockedit-form" class="hotsite-ajax-form">
        <div class="item" ref="width">
            <div class="label">Largura</div>
            <div class="info">Selecione a largura que seu bloco ocupará na página.</div>
            <select class="value">
                <option value="100">1 Coluna (100%)</option>
                <option value="50">2 Coluna (100%)</option>
                <option value="33.3">3 Coluna (100%)</option>
                <option value="25">4 Coluna (100%)</option>
                <option value="20">5 Coluna (100%)</option>
                <option value="12.5">8 Coluna (100%)</option>
            </select>
        </div>
        <div class="item" ref="background-color">
            <div class="label">Cor de Fundo</div>
            <div class="info">Selecione abaixo a cor de fundo do seu bloco.</div>
            <div class="value color-value" var="background_color"></div>
        </div>
        <div class="item" ref="background-image">
            <div class="label">Imagem de Fundo</div>
            <div class="info">Selecione uma imagem de fundo para o seu bloco, escolha também se a imagem se repetirá ou será estática.</div>
            <div class="inputs">
                <div><input id="hotsite-background-image-file" type="file" name="background-image-file" /></div>
                <div class="input"><input type="checkbox" name="background-image-repeat" /><label for="background-image-repeat">Repetir Imagem</label></div>
                <div class="value image-value"></div>
            </div>
        </div>
        <div class="error-log">
        </div>
        <input id="hotsite-block-form-submit" type="button" value="Alterar" />
        <input id="hotsite-block-form-submit" type="button" value="Remover Bloco" />
        <input class="hotsite-ajax-button ajax-close-box" type="button" value="Fechar" />
    </div>
</div>