<div id="hotsite-ajax-box-wrap">
    <div class="headerbox">
        <div class="title">Configurações do Seu Site</div>
        <div class="info">As configurações básicas do seu site estão apresentadas abaixo, faça as modificações alterando o formulário.</div>
    </div>
</div>