<div id="hotsite-administrative-topmenu">
    <div class="item">
        <span class="icon" ref="paginas"></span>
        <label>Páginas</label>
    </div>
    <div class="item" ref="programacao">
        <span class="icon"></span>
        <label>Programação</label>
    </div>
    <div class="item" ref="contato">
        <span class="icon"></span>
        <label>Contato</label>
    </div>
    <div class="item" ref="compras">
        <span class="icon"></span>
        <label>Compras</label>
    </div>
    <div class="item" ref="config">
        <span class="icon"></span>
        <label>Configurações</label>
    </div>
</div>