<div id="add-instance-wrap">
    <div class="header">
        <div class="title">Adicionar Nova Equipe</div>
        <div class="info">
            Para criar e gerenciar eventos é necessário possuir uma equipe organizadora, vamos auxiliá-lo a criar uma nova equipe através do formulário abaixo.
        </div>
    </div>
    <div class="form" step="1">
        <div class="label"><span class="step">1º - Plano</span> Escolha o plano com os recursos necessários para o seu evento.</div>
        <div class="plan-table">
            <div class="plan" id="plan-1">
                <div class="number">1</div>
                <div class="name">Plano Dyon</div>
                <div class="info">
                    <div class="item">Membros Ilimitados</div>
                    <div class="item">Eventos Ilimitados</div>
                </div>
                <div class="selection">
                    <input type="button" class="instance-submit-plan" value="Escolher Plano" plan="1" />
                </div>
            </div>
        </div>
    </div>
</div>