<div class='email-message'>
    Parabéns, <strong>{{ vars.user.nome }}</strong>, seu pacote foi adicionado com sucesso em nosso sistema.<br/>
    Para confirmar as parecelas do seu pacote acesse o endereço <a href='http://republicaboemia.com.br/cliente'>http://republicaboemia.com.br/cliente</a>.
</div>