<div class='email-message'>
    Recebemos uma solicitação de troca de senha para sua conta em nosso sistema.<br/>
    Para alterar sua senha utilize o link abaixo:<br/>
    <a href='http://republicaboemia.com.br/cliente#recovery/{{ vars.recovery_code }}'>http://republicaboemia.com.br/cliente#recovery/{{ vars.recovery_code }}</a><br/><br/>
    Se você não solicitou essa recuperação por favor ignore esse email.
</div>