{% extends "base_layout.twig" %}

{% block user_header %}
      {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
      {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
      <div id="sidebar-menu-events" class="sidebar-menu sidebar-control-menu">
            {% include "controle/menu_control.twig" %}
      </div>
      <div id="right-content-control" class="right-content right-content-control">
            <div class="form-info-wrap">
                  <header>
                        <div class="title">Adicionar Novo Usuário</div>
                  </header>
                  <div class="form-edit-infos">
                        <div class="info">Adicionar um usuário manualmente é útil na hora de sanar possíveis problemas na interface padrão.
                              <br/><strong>O usuário receberá um email contendo o usuário e uma senha informando sobre o cadastro.</strong>
                        </div>
                        <form method="post">
                              <div class='item'>
                                    <label>Nome</label>
                                    <input type="text" name="nome" autocomplete="off"/>
                              </div>
                              <div class='item'>
                                    <label>Email</label>
                                    <input type="email" name="email" autocomplete="off" />
                              </div>
                              <div class='item'>
                                    <label>Senha</label>
                                    <input type="password" name="senha" autocomplete="off"/>
                              </div>
                              <div class='item'>
                                    <label>RG</label>
                                    <input type="text" name="rg" autocomplete="off"/>
                              </div>
                              <div class='item'>
                                    <label>Sexo</label>
                                    <select name="sexo" autocomplete="off">
                                          <option value="m">Masculino</option>
                                          <option value="f">Feminino</option>
                                    </select>
                              </div>
                              <div class='item'>
                                    <label>Cidade</label>
                                    <input type="text" name="cidade" autocomplete="off"/>
                              </div>
                              <div class='item'>
                                    <label>Estado</label>
                                    <select name="estado" autocomplete="off">
                                          <option value="AC">Acre</option>
                                          <option value="AL">Alagoas</option>
                                          <option value="AP">Amapá</option>
                                          <option value="AM">Amazonas</option>
                                          <option value="BA">Bahia</option>
                                          <option value="CE">Ceará</option>
                                          <option value="DF">Distrito Federal</option>
                                          <option value="ES">Espirito Santo</option>
                                          <option value="GO">Goiás</option>
                                          <option value="MA">Maranhão</option>
                                          <option value="MS">Mato Grosso do Sul</option>
                                          <option value="MT">Mato Grosso</option>
                                          <option value="MG">Minas Gerais</option>
                                          <option value="PA">Pará</option>
                                          <option value="PB">Paraíba</option>
                                          <option value="PR">Paraná</option>
                                          <option value="PE">Pernambuco</option>
                                          <option value="PI">Piauí</option>
                                          <option value="RJ">Rio de Janeiro</option>
                                          <option value="RN">Rio Grande do Norte</option>
                                          <option value="RS">Rio Grande do Sul</option>
                                          <option value="RO">Rondônia</option>
                                          <option value="RR">Roraima</option>
                                          <option value="SC">Santa Catarina</option>
                                          <option value="SP">São Paulo</option>
                                          <option value="SE">Sergipe</option>
                                          <option value="TO">Tocantins</option>
                                    </select>
                              </div>
                              <input type="submit" class="btn-01" value="Add Usuário" name="submit" />
                              <input type="button" class="btn-01" disabled value="Adicionar Usuário e Adicionar Pacote" />
                        </form>
                        {% if error_edit_flag %}
                              <div class="control-add-error error-message01">
                                    {{ error_edit_flag }}
                              </div>
                        {% endif %}
                        {% if confirm_edit_flag %}
                              <div class="control-add-confirm dialog-message01">
                                    Usuário adicionado com sucesso..
                              </div>
                        {% endif %}                   
                  </div>
                  <div class="clear"></div>           
            </div>
      </div>
      <script>

      </script>
{% endblock %}