{% for pacote in pacotes.list %}
    <div class="pacote-row">
            <div class="header">
                <div class="title">
                    {{ pacote.nome_usuario }}
                </div>
                <div class="event">
                    {{ pacote.nome_evento }} - {{ pacote.lote }}
                </div>
            </div>
    </div>
{% endfor %}      