<div id="hotsite-administrative-topmenu">
    <div class="item">
        <span class="icon fa fa-home" ref="inicio"></span>
        <label>Início</label>
    </div>
    <div class="item" ref="paginas">
        <span class="icon fa fa-sticky-note" ></span>
        <label>Páginas</label>
    </div>
    <div class="item" ref="secoes">
        <span class="icon fa fa-toggle-on"></span>
        <label>Seções</label>
    </div>
    <div class="item" ref="vendas">
        <span class="icon fa fa-usd"></span>
        <label>Vendas</label>
    </div>
    <div class="item config" ref="config">
        <span class="icon  fa fa-cog"></span>
        <label>Configurações</label>
    </div>
</div>