<div class="header">
    <div class="title">Configurações do Menu Principal</div>
</div>
<div class="settings">
    <div class="column1">
        <div class="title">Atributos</div>
        <div class="setting">
            <div class="title">Estilo do Menu</div>
            <div class="value">
                <select name="menu_align">
                    <option value="0">Menu Horizontal</option>
                    <option value="1" {% if params.menu_align == 1 %} selected {% endif %} >Menu Vertical</option>
                </select>
            </div>
        </div>
        <div class="column3">
            <div class="setting">
                <div class="title">Cor de Fundo</div>
                <div class="value">
                    <div class="color" color="{{ params.background_color }}" name="background_color"></div>
                </div>
            </div>
            <div class="setting">
                <div class="title">Cor de Text</div>
                <div class="value">
                    <div class="color" color="{{ params.text_color }}" name="text_color"></div>
                </div>
            </div>
        </div>
        <div class="column3">
            <div class="setting">
                <div class="title">Cor do Botão</div>
                <div class="value">
                    <div class="color" color="{{ params.link_color }}" name="link_color"></div>
                </div>
            </div>
            <div class="setting">
                <div class="title">Cor do Botão Sobreposto</div>
                <div class="value">
                    <div class="color" color="{{ params.hover_color }}" name="hover_color"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="title">Opções</div>
        <input type="button" class="button" rel="loadMenuLinksForm" value="Editar Links" />
        <input type="button" class="button" rel="save" value="Salvar" />
        <input type="button" class="button-close button" rel="close" value="Fechar" />
    </div>
</div>
<script>
    $("#content-edit-wrap .settings .color").each(function(index, element) {
        var color = $(this).attr("color");
        var name = $(this).attr("name");
        var pickers2 = new Object();
        pickers2[name] = new jscolor(element);
        if (color !== null) {
            pickers2[name].fromString(color);
        } else {
            pickers2[name].fromString("ffffff");
        }
    });

</script>