<div id="public-event-manager-settings-wrap" class="public-manager-form-wrap">
    <div class="title">Aparência do Website</div>
    <div class="info-wrap">
        <div class="item color-item" field="bg">
            <div class="color" field="bg"></div>
            <div class="label">Cor de Fundo</div>
            <input type="hidden" name="" field="bg" value="0"/>
        </div>
        <div class="item color-item" field="tl">
            <div class="color" field="tl"></div>
            <div class="label">Cor do Título</div>
            <input type="hidden" name="" field="tl" value="0"/>
        </div>
        <div class="item color-item" field="dt">
            <div class="color" field="dt"></div>
            <div class="label">Cor da Data</div>
            <input type="hidden" name="" field="dt" value="0"/>
        </div>
        <div class="item image-item" field="">
            <div class="image-selector" field=""><i class="fa fa-toggle-off"></i></div>
            <div class="label">Banner de Topo</div>
            <div class="image-selector" field=""><i class="fa fa-toggle-off"></i></div>
        </div>
        <div class="item text-item" field="">
            <div class="text">
                <input type="text" name="" value="" />
            </div>
            <div class="label">Link do Teaser (YouTube)</div>
            <input type="hidden" name="" field="" value="0"/>
        </div>
        <input type="button" value="Salvar" class="btn-01" />
    </div>
</div>