<div id="public-event-manager-settings-wrap" class="public-manager-form-wrap">
    <div class="title">Configurações do Website</div>
    <div class="info-wrap">
        <div class="item button-item" field="show-schedule">
            <div class="button" field="show-schedule"><i class="fa fa-toggle-off"></i></div>
            <div class="label">Mostrar Programação</div>
            <input type="hidden" name="" field="show-schedule" value="0"/>
        </div>
        <div class="item button-item" field="show-gallery">
            <div class="button" field="show-gallery"><i class="fa fa-toggle-off"></i></div>
            <div class="label">Mostrar Galeria</div>
            <input type="hidden" name="" field="show-gallery" value="0"/>
        </div>
        <div class="item button-item" field="show-contacts">
            <div class="button" field="show-contacts"><i class="fa fa-toggle-off"></i></div>
            <div class="label">Mostrar Página de Contato</div>
            <input type="hidden" name="" field="show-contacts" value="0"/>
        </div>
        <div class="item button-item" field="show-likes">
            <div class="button" field="show-likes"><i class="fa fa-toggle-off"></i></div>
            <div class="label">Mostrar Número de Pessoas Interessadas</div>
            <input type="hidden" name="" field="show-likes" value="0"/>
        </div>
        <div class="item button-item" field="show-sold">
            <div class="button" field="show-sold"><i class="fa fa-toggle-off"></i></div>
            <div class="label">Mostrar Número de Ingressos Vendidos</div>
            <input type="hidden" name="" field="show-sold" value="0"/>
        </div>
        <div class="item button-item" field="show-published">
            <div class="button" field="published"><i class="fa fa-toggle-off"></i></div>
            <div class="label">Publicar Página</div>
            <input type="hidden" name="" field="published" value="0"/>
        </div>
        <div class="item select-item">
            <div class="select">
                <select name="">
                    <option value="c">Comprar</option>
                    <option value="r">Registrar</option>
                    <option value="i">Inscrever</option>
                </select>
            </div>
            <div class="label">Nomeclatura do Botão de Vendas/Registro</div>
        </div>
        <div class="item text-item">
            <div class="text">
                <input type="text" name="" value="" />
            </div>
            <div class="label">Telefone de Contato</div>
        </div>
        <div class="item text-item">
            <div class="text">
                <input type="text" name="" value="" />
            </div>
            <div class="label">Email de Contato</div>
        </div>
        <div class="item text-item">
            <div class="text">
                <input type="text" name="" value="" />
            </div>
            <div class="label">Endereço de Contato</div>
        </div>
        <input type="button" value="Salvar" class="btn-01" />
    </div>
</div>