<div id="public-event-manager-wrap">
    <div class="topbar">
        <div class="minimize"><i class="fa fa-minus"></i></div>
        <div class="title">Editar Site</div>
    </div>
    <div class="manager-wrap">
        <div class="event-info">
            <div class="title">{{ event.nome }}</div>
            <div class="views"><strong>1590</strong> Visualizações</div>
            <div class="sold"><strong>200</strong> Ingressos Vendidos</div>
            <div class="likes"><strong>300</strong> Pessoas Interessadas</div>
        </div>
            <div class="buttons">
                <div class="button" id="public-event-manager-edit-appearance"><i class="fa fa-paint-brush"></i> Aparência</div>
                <div class="button" id="public-event-manager-edit-settings"><i class="fa fa-cog"></i> Configurações do Site</div>
            </div>
    </div>
</div>