<div class="description">
    Abaixo estão listados os métodos de pagamento ativados para o evento selecionado. Você também pode escolher entre os diversos métodos disponíveis no Dyon e selecionar as melhores opções para os seus clientes.
</div>
<div class="methods-list">
    <div class="header">
        <div class="item">
            Nome
        </div>
        <div class="item">
            Parcelamento Máximo
        </div>
        <div class="item">
            Taxa de Serviço
        </div>
        <div class="item">
            Taxa Dyon*
        </div>
        <div class="item">
            Tempo de Entrega*
        </div>
    </div>
</div>