<div class="header">Eventos</div>
<a href="{{ config.system_path }}/eventos/"><div class="item">Listar Eventos</div></a>
<a href="{{ config.system_path }}/eventos/add"><div class="item">Adicionar Evento</div></a>