<div class='ajax-minibox ajax-minibox-form-1 compra-add-form'>  
      <div class="ajax-box-title">
            Adição de Compras
      </div>
      <div class='ajax-box-info'>
            Utilize o formulário abaixo para adicionar novas compras ao evento selecionado.
      </div>
      <div class='item'>
            <label>Nome da compra</label>
            <div><input type="text" class="compra-add-form" name="nome" placeholder="ex. 'Abadás'" /></div>
      </div>
      <div class='item'>
            <label>Categoria</label>
            <div>
                  <select class="compra-add-form" name="categoria">
                        {% for categoria in categorias %}
                           <option value='{{ categoria.id }}'>{{ categoria.nome }}</option>
                        {% endfor %}
                  </select>
            </div>
      </div>
      <div class='item'>
            <label>Tipo da compra</label>
            <div>
                  <select class="compra-add-form" name="tipo">
                        <option value='0'>Compra</option>
                        <option value='1'>Orçamento</option>
                  </select>
            </div>
      </div>
      <div class='item'>
            <label>Valor Unitário</label>
            <div><input type="text" class="compra-add-form" name="vunitario" placeholder="ex. 'R$50,00'" /></div>
      </div>
      <div class='item'>
            <label>Quantidade</label>
            <div><input type="text" class="compra-add-form" name="quantidade" placeholder="ex. '500'" /></div>
      </div>
      <div class='item'>
            <label>Número de Parcelas</label>
            <div><input type="text" class="compra-add-form" name="nparcelas" placeholder="ex '10'" /></div>
      </div>
      <input type='button' id='compra-add-compra-parcelas' class='btn-01' value='Calcular Parcelas'/>
      <input type='button' class='btn-03 ajax-close-box' value='Fechar'/>
</div>