{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="sidebar-menu-finances" class="sidebar-menu sidebar-finances-menu">
        {% include "financeiro/menu_finances.twig" %}
    </div>
    <div id="right-content-finances" class="right-content right-content-finances">
        <header>
            <div class="title">Fluxo de Caixa</div>
            <input type="hidden" id="event-id" value="{{ selected_event }}" />
        </header>
        <nav id="flow-interface-wrap">
            <div class="title">Selecione o tipo de visualização</div>
            <div class="container">
                <a href="#"><div class="item" ref="day">Diário</div></a>
                <a href="#"><div class="item" ref="month">Mensal</div></a>
                <a href="#"><div class="item" ref="year">Anual</div></a>
            </div>
            <div class="clear"></div>
        </nav>
        <section id="flow-wrap">
        </section>

    </div>
    <script>
        flow_interface = new flowInterface;
        flow_interface.initFlow();
    </script>
{% endblock %}