<div class="parcela-add-form">
            <div class="p-add-title">Adicionar Nova Parcela</div>
            <div class="info">Utilize os campos abaixo para inserir uma nova parcela.
            </div>
      <div class='field'>
            <label>Valor</label>
            <input type="text" name="valor" class='parcela-add-valor' autocomplete="off"/>
      </div>
      <div class='field'>
            <label>Data de Vencimento</label>
            <input type="text" class="parcela-add-vencimento" name="vencimento" autocomplete="off" />
      </div>
      <div class="clear"></div>
      <input type="button" class="btn-01 parcela-add-submit" value="Adicionar Parcela" name="submit" />
</div>
<script>
$(".parcela-add-valor").maskMoney({prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: false});
$(".parcela-add-vencimento").mask("99/99/9999");
</script>