
<div id="user-header">
    <div class="controls">
        <div class='control fa fa-navicon' id='button-menu' title="Menu"></div>
        <div class="photo">
            {% if user.image %}
                <img src="{{ config.system_path }}/images/avatar/{{ user.image }}" title="{{ user.nome }}"/>
            {% else %}
            {% endif %}
        </div>
        <script>
            controlsinterface = new controlsInterface();
            controlsinterface.init();
        </script>
    </div>
</div>
<div class="menu-header">
    <div class="search-wrap">
        <input type="text" class="search-input" placeholder="Encontre Eventos" />
        <i class="fa fa-search search-submit" id="search-submit"></i>
    </div>
    <div class="item">
        CATEGORIAS
    </div>

    <a href="{{ config.system_path }}/manager"><div class="item last">
            MANAGER
        </div></a>
</div>