<div class="board-header">
    <div class="title">{{ board.nome }}</div>
    <div class="controls">
        <input type="hidden" value="{{ board.id }}" id="board-id-ref" />
        <div class="control"  id="add-thread">CRIAR THREAD</div>
        <div class="control control-right" id="board-control-rename" ref="archived-switch" title="Renomear Board"><i class="fa fa-cog" aria-hidden="true"></i></div>
        <div class="control control-right" id="board-control-archive" ref="archived-switch" title="Ver Arquivo"><i class="fa fa-trash" aria-hidden="true"></i></div>
        <div class="control control-right" id="board-control-switch-view" ref="view-by-type" title="Visualização por Tipo"><i class="fa fa-columns" aria-hidden="true"></i></div>

    </div>
</div>
<div class="threads-wrap">
    {% if board.no_thread %}
        <div class="no-thread">Seja o primeiro a começar uma discussão ou delegar uma tarefa.</div>
    {% else %}
        {% include "board/threads_load.twig" %}
    {% endif %}
</div>