{% if ajax == false %}
<!DOCTYPE html>
<html>
      <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8"></meta>
            {% include "scripts.twig" %}
            {% include "css.twig" %}
            <title>{{ config.title }}</title>
      </head>
      <body>
          <input type="hidden" id="dir-root" value="{{ config.system_path }}"/>
            <header id="main-header-wrap">
                <div class="title"><img src="{{ config.system_path}}/images/logo.png" alt="Dyon"/> DYON<span class='tyle2'>2</span></div>
                  {% block user_header %}
                  {% endblock %}
                  <div class="clear"></div>
            </header>
            <nav id="main-menu-wrap">
                  {% block top_menu %}
                  {% endblock %}
            </nav>
            <div id="main-content-wrap">
            {% block content %}
                  
            {% endblock %}
            </div>
            <footer id="main-footer-wrap">
                  Dyon.vc © 2015 ~ 2016 - <a href="http://blog.dyon.vc" class="white-link">Blog</a> - <a href="http://sistema.dyon.vc">Administração</a> [ GC ]
            </footer>
      </body>
</html>
{% else %}
      {% block content_ajax %}
      {% endblock %}
{% endif %}