<div class='email-message'>
    Parabéns, <strong>{{ vars.user.nome }}</strong>, você se cadastro com sucesso no sistema do CarnaBoemia!<br/>
    Para comprar ou visualizar seu pacote entre no endereço: <a href='http://republicaboemia.com/cliente'>http://republicaboemia.com/cliente</a>.
    <br/><br/>    
    Em caso de dúvidas entre em contato conosco!
</div>