{% extends "base_layout.twig" %}

{% block user_header %}
      {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
      {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
      <div id="right-content-control" class="right-content right-content-control">
            REKT
      </div>
      <script>
           
      </script>
{% endblock %}