<div id="hotsite-administrative-sidemenu-page" class="hotsite-administrative-sidemenu">
    <div class="pagetitle">
        Página Inicial
    </div>
    <div class="header">
        <label>Blocos</label>
    </div>
    <div class="item" action="add-block">
        <label>Adicionar Bloco</label>
    </div>
    <div class="item">
        <label>Layout dos Blocos</label>
    </div>
    <div class="header">
        <label>Conteúdo</label>
    </div>
    <div class="item">
        <label>Adicionar Conteúdo</label>
    </div>
    <div class="item">
        <label>Conteúdo da Página</label>
    </div>
</div>