{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="sidebar-menu-events" class="sidebar-menu sidebar-events-menu">
        {% include "evento/menu_event.twig" %}
    </div>
    <div id="right-content-events" class="right-content right-content-events"><div id="event-add-wrap">
            <header>
                <div class="title">Adicionar Novo Evento</div>
            </header>
            <div class="form-edit-infos">
                <div class="info">Adicione as informações do evento pelos campos abaixo. <strong>Campos com * são obrigatórios.</strong></div>
                <form method="post">
                    <div class='item'>
                        <label>Nome<div class="mini-info">*</div></label>
                        <input type="text" name="nome" />
                    </div>
                    <div class='item'>
                        <label>Local<div class="mini-info">Localização do evento (Opcional)</div></label>
                        <input type="text" name="local" />
                    </div>
                    <div class='item'>
                        <label>Descrição<div class="mini-info">Descrição e informações do evento (Opcional)</div></label>
                        <textarea name="descricao" rows="6"></textarea>
                    </div>
                    <div class='item'>
                        <label>Data de Início<div class="mini-info">*</div></label>
                        <input type="text" name="data_inicio_data" class="input-date" /> às <input type="text" name="data_inicio_hora" class="input-hour" />
                    </div>
                    <div class='item'>
                        <label>Data de Encerramento<div class="mini-info">(Opcional)</div></label>
                        <input type="text" name="data_fim_data"  class="input-date" /> às <input type="text" name="data_fim_hora" class="input-hour" />
                    </div>
                    <div class='item'>
                        <label>Máximo de Vendas <div class="mini-info">(Opcional)</div></label>
                        <input type="text" class="input-count" name="max_venda" />
                    </div>
                    <div class="info">Opções de Funcionalidades</div>
                    <div class='item'>
                        <label>Habilitar Grupos <div class="mini-info">Ativa a opção de distribuir os ingressos vendidos por grupos.</div></label>
                        <select name="flag_grupos">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                    <div class='item'>
                        <label>Habilitar Compras <div class="mini-info">Ativa o controle de estoque.</div></label>
                        <select name="flag_compras">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                    <div class='item'>
                        <label>Habilitar Hospedagem <div class="mini-info">Ativa a parte de hospedagem de clientes.</div></label>
                        <select name="flag_hospedagem">
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                    </div>
                    <input type="submit" class="btn-01" value="Add Evento" name="submit" />
                </form>
                {% if error_edit_flag %}
                    <div class="event-edit-error error-message01">
                        {{ error_edit_flag }}
                    </div>
                {% endif %}
                {% if confirm_edit_flag %}
                    <div class="event-edit-confirm dialog-message01">
                        Evento editado com sucesso.
                    </div>
                {% endif %}                   
            </div>
            <div class="clear"></div>           
        </div>
    </div>
    <script>
        $(".input-date").mask("99/99/9999");
        $(".input-hour").mask("99:99");
    </script>
{% endblock %}