<div class='email-message'>
    <strong>{{ vars.user.nome }}</strong>, acabamos de confirmar uma parcela do seu pacote em nosso sistema, confira:<br/><br/>
    Parcela:<br/>
    [ {{ vars.parcela.id }} ] - R${{ vars.parcela.valor }} - [ Status: Aprovada ]
</div>