<div class="current-event">
    {% if user.current_event.name %}
        <div class="label">Evento</div>
        <div class="event">{{ user.current_event.name }}</div>
        <div class="control control-info" title="Informações do Evento"><i class="fa fa-info-circle"></i></div>
    {% endif %}
        <div class="control control-edit" title="Alterar Evento"><i class="fa fa-pencil"></i></div>
</div>
<div class="instance">
    <div class="organization">
        <div class="label">Equipe</div>
        <div class="name">{{ user.instance.nome }}</div>
        <div class="control control-info" title="Informações da Equipe"><i class="fa fa-info-circle"></i></div>
        <div class="control control-config" title="Configuração das Equipe"><i class="fa fa-cog"></i></div>
    </div>
</div>