<div class="current-event">
    <div class="label">Evento</div>
    <div class="event">{{ user.current_event.name }}</div>     
</div>
<div class="instance">
    <div class="organization">
        <div class="label">Equipe</div>
        <div class="name">{{ user.instance.nome }}</div>
    </div>
</div>