<div id="user-header">
    <div class="controls">
        <div class='control fa fa-navicon' id='button-menu' title="Menu"></div>
        <div class="photo">
            {% if user.image %}
                <img src="{{ config.system_path }}/images/avatar/{{ user.image }}" />
            {% else %}
            {% endif %}
        </div>
        <script>
            controlsinterface = new controlsInterface();
            controlsinterface.init();
        </script>
    </div>
</div>