<div class="header">Diretoria</div>
<a href="{{ config.system_path }}/diretoria/"><div class="item">Tarefas</div></a>
<a href="{{ config.system_path }}/diretoria/integrantes"><div class="item">Integrantes</div></a>
